<div class="row form-horizontal">
   
      <form  [formGroup]="userEditForm" (ngSubmit)="saveUser()">
        <div class="col-sm-12 col-sm-6"><label>User Name</label> <input type="text" formControlName ="userName"
            name="userName" value="">
    </div>
    
          <div class="col-sm-12 col-sm-6">
              <label>First Name</label> <input formControlName ="firstName" type="text" name="firstName" value="">
          </div>
          <div class="col-sm-12 col-sm-6"><label>Last Name</label> <input type="text" formControlName ="lastName"
                  name="lastName" value="">
          </div>
          <div class="col-sm-12 col-sm-6"><label>Department ID</label> 
            <select formControlName="departmentId" class="form-control">  
              <option value="">Choose Department</option>  
              <option *ngFor="let dep of departments" value="{{dep.id}}">{{dep.name}}</option>  
          </select>  
          <div class="col-sm-12 col-sm-6"><label>Password</label> <input type="password" formControlName ="password"
            name="password" value="">
    </div>
            
    </div>
          <div style="margin-left: 777px">
            <button type="button" routerLink="/userManagement" routerLinkActive="active"> Cancel</button>
          <button type="submit">Save</button>
        </div>
      </form>
  </div>
  
  